/* non-sematic */
 h2 {
    color: white;
    background-color: black;
    padding: 1rem;
    font-size: 3rem;
    margin-bottom: 4rem;
 }

 body{
    position: relative;
 }

 /* combinator */
 .input-container, .main-section-container, .sign-transactions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#username, #password {
    width: 18.75rem;
    font-size: 1.5rem;
    margin: 15px;
    border: none;
    padding: 0.5em 3rem 0.5em;
    border-radius: 1em;
    background-color: lightgray;
}



.social-containers  > a{
    background-color: black;
    height: 4em;
    width: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.7em;
    text-decoration: none;
}

.sign-transactions > a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 5px;
 }

 .sign-transactions > .another-transaction {
    font-size: 0.7em;
    color: gray;
    margin: 5px;
 }



/* single */
.nav-container {
    position: absolute;
    background-color: transparent;
    top: 25px;
    width: 15rem;
    height: 4rem;
    z-index: 100;
}

.main-section-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensures the image stays behind the content */
    opacity: 0.8; /* Adjust opacity as needed */
}

.form-container{
    width: 32.25rem;
    height: 37.5rem;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    background-color: white;
}

#showPass {
    margin-left: 75px;
    height: 15px;
    width: 15px;
}
input[type='checkbox'] {
    accent-color: black;
}

.signed-stats {
    align-items: start;
    font-size: 1.5rem;
    color: gray;
}

.social-containers {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.9rem;
}

.sign-transactions{
    width: 100%;
    height: 100%;
    display: flex;


}

.login-logo{
    margin-right: 1.3rem;
 }

 .another-transaction {
    color: lightgray;
    text-decoration: none;
 }

 input:focus {
    outline: none;
}







/* signup form */
.section-container{
    display: flex;
    justify-content: flex-end;

}

.information-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 10px;
}

.signUp-transactions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup-form {
    width: 25%;
    height: 92.30vh;
    background-color: white;
}

h1 {
    color: black;
    font-size: 50px;
    margin-top: 100px;
}


#gender{
    width: 100x;
    height: 25px;
    font-size: 14x;
}



.signup-button{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 10px 50px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
