@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Platypi:ital,wght@0,300..800;1,300..800&family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Spiegel, NotoSans-Medium, "Arial Narrow", Arial, sans-serif;
}

header {
  background-color: rgb(19, 16, 16);
}

img {
  display: block;
  max-width: 100%;
}

.nav-logo-1 {
  padding-left: 2em;
  height: 1.5em;
  width: 6em;
}

.nav-logo-2 {
  padding-left: 0.5em;
  height: 2em;
  width: 2.5em;
}

nav ul {
  margin: 0;
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  padding: 1em;
  color: white;
  text-decoration: none;
  padding-right: 2em;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

main {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.background-image {
  position: absolute;
  width: 105vw;
  left: -5px;
  top: -10px;
}

.background-image .bg-img {
  height: 50vh;
  width: 100%;
  filter: blur(0.4rem);
}

.background-image .main-bg {
  position: absolute;
  top: 75px;
  width: 55em;
  left: 50%;
  transform: translateX(-50%);
}

main section {
  margin-top: 40em;
  margin: 40em auto 0;
}

section {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

section div h1 {
  text-align: center;
  font-size: 2rem;
  color: rgb(242, 105, 58);
}

section .sub {
  margin-bottom: 4em;
  text-align: center;
}

.content {
  max-width: 750px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.content p {
  font-size: 1.25rem;
  line-height: 1.66;
  color: hsla(0, 0%, 0%, 0.8);
  letter-spacing: 0.04em;
}

.content h2 {
  color: rgb(242, 105, 58);
}

@media only screen and (max-width: 1000px) {
  .background-image .main-bg {
    position: absolute;
    top: 0;
    width: 55em;
    left: 48%;
  }

  main section {
    margin-top: 35em;
  }
}

@media only screen and (max-width: 800px) {
  .background-image .bg-img {
    display: none;
  }

  .background-image,
  .main-bg {
    position: static !important;
  }

  .main-bg {
    width: 100% !important;
    transform: none !important;
  }

  .background-image {
    width: 100%;
  }

  main section {
    margin-top: 3rem;
  }

  section {
    width: 90%;
  }
}
